{% extends "layout.html" %}


{% block content %}
<div class="container">
    <div class="row">
    <div class="col-md-3">
        <div style="margin-top: 100px;"></div>
            <div class="panel panel-default">
                <div class="panel-heading" style="font-weight: bold">
                        Welcome to Codathon 
                </div>
            </div>
    </div>
    <div class = "col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><div class="text-center"><strong>{{ name }}</strong></div></h2>
            </div>
            
            <div class="panel-body">
                <ul class="list-group">
                    {% for event in events %}
                    <li class="list-group-item"><a href="{{ url_for('event', number=loop.index) }}" class="btn btn-light col-sm-12"> {{event.name}} </a></li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        
    </div>
</div>
</div>
{% endblock %}


