{% extends "layout.html" %}

{% block content %}
<table class="table table-bordered">
	<thead style="background: black; color: white;">
		<tr>
			<td><strong>Upload Time</strong></td>
			<td class="text-center"><strong>Problem Number</strong></td>
			<td><strong>Upload Status</strong></td>
		</tr>
	</thead>
  <tbody style="background: white;">
    {% for post in message %}
        <tr> 
            <td> {{post.ptime}} </td>  
            <td class="text-center"> {{post.prbid}} </td>
            <td> {{post.status}} </td>
        </tr>
    {%endfor%}
	</tbody>

</table>


{% endblock %}