{% extends "layout.html" %}

{% block content %}
<h2 class="text-center">{{ title }}</h2>
<table class="table table-bordered">
	<thead style="background: black; color: white;">
		<tr>
			<th>Upload Time</th>
			<th class="text-center">Problem Number</th>
			<th class="text-center">Language</th>
			<th><strong>Upload Status</th>
		</tr>
	</thead>
  <tbody style="background: white;">
    {% for post in message %}
        <tr> 
            <td> {{post.ptime}} </td>  
            <td class="text-center"> {{post.prbid}} </td>
            <td class="text-center"> {{post.lang}} </td>
            <td> {{post.status}} </td>
        </tr>
    {%endfor%}
	</tbody>
</table>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
setTimeout(function () {
    if(window.location.hash != '#r') {
        window.location.hash = 'r';
        window.location.reload(1);
    }
}, 5000);
</script>
{% endblock %}